html{
    background-color: #FFEBEB;
}

.title{
    text-align: left;
    height: 100%;
    position: relative;
}

.title h1{
    color: white;
    font-size: 85px;
    opacity: 1;
    text-align: center;
}

.title h3{
    color: white;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.title a{
    color: pink
}

.title p{
    color: white;
    font-size: 20px;
    width: 500px;
    opacity: 1;
}

.textBox{
    top: 150px;
    left: 50px;
    position: fixed;
    border: 10px black solid;
    border-radius: 50px;
    padding: 10px;
    display: block;
    background-color: rgba(0, 0, 0, 0.8); 
}

#textBox2{
    top: 550px;
    width: 500px;
}

.backgroundPicture{
    display:block;
    width:100%; 
    height:100%;
    object-fit: cover;
    opacity: 0.7;
}

