body{
    margin: 0px;
    font-family: sans-serif;
    background: url("background.jpeg") no-repeat center fixed;
    background-size: cover;
    padding: 2em;
    color: #fff; 
 }
.title{
    text-align: left;
    height: 100%;
    position: relative;
}

body::before{
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
 }


.title h1{
    color: white;
    font-size: 85px;
    opacity: 1;
    text-align: center;
}

.title h3{
    color: white;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.title a{
    color: pink;
    text-decoration: none;
}

.title a:hover{
    color:hotpink;
}

.title p{
    color: white;
    font-size: 20px;
    width: 500px;
    opacity: 1;
}

.textBox{
    top: 150px;
    left: 50px;
    position: fixed;
    border: 10px black solid;
    border-radius: 50px;
    padding: 10px;
    display: block;
    background-color: rgba(0, 0, 0, 0.8); 
}

#textBox2{
    top: 550px;
    width: 500px;
}


